<div class="breadcont clearfix">
   <ol class="breadcrumb pull-left">
      <li><a ui-sref="app.blueprint_ins_manage">蓝图实例列表</a>
      </li>
      <li>
      	{{$stateParams.insName}}
      </li>
      <li class="active">
      	日志管理
      </li>
   </ol>
</div>
<div class="cont-body">
<div class="panel">
<tabset justified="false">
	<tab ng-repeat="flowItem in flowList" ng-click="doHistoryListFn($index,flowItem.FLOW_NAME,flowItem.FLOW_ID)" active="flowItem.active">
		<tab-heading>{{flowItem.FLOW_NAME}}</tab-heading>
		<div>
			<table class="table table_title table-striped cd-table new_Tables">
				<thead>
					<tr sort>
			            <th base="1" ng-click="fnSort('instanceId')">实例Id</th>
						<th base="1" ng-click="fnSort('flowState')">过程状态</th>
			            <th base="1" ng-click="fnSort('startTime')">操作时间</th>
						<th base="1" ng-click="fnSort('endTime')">结束时间</th>
			            <th base="1" ng-click="fnSort('opTime')">操作时长(s)</th>
			            <th>组件版本详情</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-if="flowItem.off" ng-repeat="insItem in doData[flowItem.FLOW_NAME]">
						<td>{{insItem.instanceId}}</td>
						<td> 
						  <em class="fa" ng-class="{'text-success fa-check':insItem.state=='2','text-danger fa-times':insItem.state=='7'}"></em>
						  <span style="display:inline-block;" class="sk-spinner sk-spinner-fading-circle" ng-if="insItem.state=='0'">
			               <span class="sk-circle1 sk-circle"></span>
			               <span class="sk-circle2 sk-circle"></span>
			               <span class="sk-circle3 sk-circle"></span>
			               <span class="sk-circle4 sk-circle"></span>
			               <span class="sk-circle5 sk-circle"></span>
			               <span class="sk-circle6 sk-circle"></span>
			               <span class="sk-circle7 sk-circle"></span>
			               <span class="sk-circle8 sk-circle"></span>
			               <span class="sk-circle9 sk-circle"></span>
			               <span class="sk-circle10 sk-circle"></span>
			               <span class="sk-circle11 sk-circle"></span>
			               <span class="sk-circle12 sk-circle"></span>
			            </span>
						<span ng-class="{'text-success':insItem.state=='2','text-danger':insItem.state=='7','text-custom-yellow':insItem.state=='0'}">{{insItem.flowState}}</span>
						</td>
			            <td>{{insItem.startTime}}</td>
			            <td>{{insItem.endTime}}</td>
			            <td>{{insItem.opTime}}</td>
			            <td><a tooltip-placement="left"
                             tooltip="{{insItem.componentDetail}}" ng-click="detailFn(insItem.componentDetail)">详情</a></td>
						<td> 
						    <a target="_blank" ui-sref="app.blueprint_ins_flow_monitor({insName:$stateParams.insName,INSTANCE_ID:$stateParams.INSTANCE_ID,flowMonitorInsId:insItem.instanceId,flowName:flowItem.FLOW_NAME,flowId:flowItem.FLOW_ID})" class="btn btn-cd-default btn-cd-default-info"><em class="icon-graph"></em> 监控</a>
						    <a href="javascript:;" ng-click="overFn(insItem.instanceId)" class="btn btn-cd-default btn-cd-default-del"><em class="icon-power"></em> 结束</a>
						</td>
					</tr>
					<tr>
			            <td colspan="7"> 
			                <page ng-if="flowItem.off" page-count="pageCount" page-num="pageNum" on-page-change="onPageChange(pageNum,flowItem.FLOW_NAME,flowItem.FLOW_ID)"></page>
			            </td>
                    </tr>
				</tbody>
			</table>
		</div>
	</tab>
</tabset>
</div>
</div>