<div class="row clearfix cont-header">
	   <div class="col-sm-6">
	        <a href="" class="btn-cd-icon" ng-click="clearCookie();addComponentFn()"><span class="cd-ic_adduser">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                </span> 创建通用组件</a>
            <a class="btn-cd-icon" ng-click="clearCookie();exportComponent()">
            	<span class="cd-ic_derive">
                <span class="path1"></span><span class="path2"></span>
                </span> 导出组件</a>
            <a class="btn-cd-icon" ng-click="clearCookie();importComponent()">
            	<span class="cd-ic_lead">
                <span class="path1"></span><span class="path2"></span>
                </span> 导入组件</a>
	   </div>
	   <div class="col-sm-6">
	      <div class="search">
	        <input type="text" ng-keyup="search()" class="form-control search-form-control" placeholder="按组件名称搜索" ng-model="searchval" />
	        <em class="icon-magnifier"></em>
	      </div>
	   </div>
	</div>

    <div class="loader-demo" ng-if="loadoff">
         <div class="ball-pulse">
            <div></div>
            <div></div>
            <div></div>
         </div>
    </div>
    
    <div class="cont-body">
    <div class="cont-bodyCom">
          <span class="ng-binding">按组件名排序：</span><a ng-click="fnSort('resourceName','ASC')"><em class="caret-d"></em>升序</a> <a ng-click="fnSort('resourceName','DESC')"><em class="caret"></em>降序</a>
	</div>
	<div ng-if="!resultoff">
    	<p class="noresult"><em class="icon-info"></em> {{warninginfo}}</p>
    </div>
	<div class="list-image clearfix" ng-repeat="item in ftplist.rows" ng-show="!loadoff">
	   <a href="" class="pull-left image-pic"><img ng-src="app/images/component-icons/{{item.pic}}.png"></a>
	   <div class="pull-left">
	      <p class="name">
	      	<a ng-click="setCookie()" ui-sref="app.component_detail(
	      	{componentName:item.resourceName,resourceId:item.resourceId})" class="text-info">
	      		{{item.resourceName}}
	      	</a>
	      </p>
	      <p class="newv">最新版本：{{item.versionName}}<span class="vnum text-info">({{item.versionNum}}个版本)</span></p>
	   </div>
	   <div class="pull-right mt20">
	        <div dropdown="dropdown" class="btn-group">
                <button dropdown-toggle="" class="btn btn-cd-default">操作 <em class="fa fa-caret-down"></em>
                </button>
                <ul role="menu" class="dropdown-menu btnlist-dropdown-menu" ng-class="{'dropdown-last':listIndex>4}">
                	<li>
                		<a ng-click="setCookie()" ui-sref="app.component_version_add({componentName:item.resourceName,componentId:item.resourceId})"><em class="fa fa-plus"></em> 添加版本</a>
                	</li>
                	<li class="second-dropdown" ng-mouseover="showsecond=true" ng-mouseout="showsecond=false">
                        <a href="javascript:;" ng-class="{'second-active':showsecond}">
                            <em class="fa fa-code-fork"></em> 过程<i class="fa fa-angle-left"></i>
                        </a>
                        <ul class="dropdown-menu btnlist-dropdown-menu" ng-show="showsecond">
                        	<li>
                        		<a ng-click="setCookie()" ui-sref="app.component_flow_create({componentName:item.resourceName,componentId:item.resourceId})"><em class="fa fa-plus"></em> 添加过程</a>
                        	</li>
                        	<li>
                        		<a ng-click="setCookie()" ui-sref="app.component_flow_manage({componentName:item.resourceName,componentId:item.resourceId})"><em class="fa fa-search"></em> 查看过程</a>
                        	</li>
                        </ul>
                    </li>
                	<li>
                		 <a href="javascript:;" ng-click="delComponent(item.resourceId,$index)"><em class="fa fa-trash"></em> 删除</a>
                	</li>
                </ul>
            </div>
	   </div>
	   <div class="pull-right image-v">
	      <span><span class="date">更新时间：</span>{{item.updateTime}}</span>
	      
	   </div>
	   
	   <div class="pos-pic"></div>
	</div>
	
	<div class="pagewrap" ng-show="resultoff">
		<page page-count="pageCount" page-num="pageNum" on-page-change="onPageChange(pageNum)"></page>
	</div>
</div>
 