<div class="cont-body cont_sta">
  <div class="panel mt20">
    <div class="panel-body">
<form role="form" class="form-horizontal clearfix form-log">
  <div class="col-sm-4">
     <div class="form-group"> 
         <label class="col-sm-4 control-label">蓝图实例：</label> 
         <div class="col-sm-8"> 
           <select ng-model="blueprint" class="form-control"  ng-options="item as item.INSTANCE_NAME for item in blueprintInstancesList" >

           </select>
         </div>
     </div>
  </div>
 <div class="col-sm-4">
     <div class="form-group"> 
         <label class="col-sm-4 control-label">蓝图过程：</label> 
         <div class="col-sm-8"> 
           <select ng-model="flow" class="form-control"  ng-options="item as item.FLOW_NAME for item in flowList" >

           </select>
         </div>
     </div>
  </div>
  <div class="col-sm-4">
     <div class="form-group"> 
         <label class="col-sm-4 control-label">组件：</label> 
         <div class="col-sm-8">
       <select ng-model="component" class="form-control"  ng-options="item as item.nodeDisplay for item in componentList" >
           </select>           
         </div>
     </div>
  </div>
  <div class="col-sm-4">
     <div class="form-group"> 
         <label class="col-sm-4 control-label">操作类型：</label> 
         <div class="col-sm-8">
           <select class="form-control" ng-model="op" ng-options="item.value as item.text for item in doList">
               
           </select> 
         </div>
     </div>
  </div>
  <div class="col-sm-4">
     <div class="form-group"> 
         <label class="col-sm-4 control-label">日期区间：</label> 
         <div class="col-sm-8">
             <input type="text" ruledate ng-model="daterange"  class="form-control daterange" data-time-picker="true" data-time-picker-increment="1" data-format="YYYY-MM-DD hh:mm A" />
         </div>
     </div>
  </div>
  <div class="col-sm-4">
     <button type="button" class="btn btn-info" ng-click="querylog()"><em class="fa fa-search"></em> 查询</button>
  </div>    
 </form>
   </div>
    </div>

<div>
成功率：{{resultData.succRate}}
失败率：{{resultData.failRate}}
总数：{{resultData.total}}
</div>
<table class="table table_title">
    <thead>
      <tr sort>
      <th></th>
        <th base="1" ng-click="fnSort('blueInstanceName')">蓝图实例</th>
        <th base="1" ng-click="fnSort('flowName')">蓝图过程</th> 
        <th base="1" ng-click="fnSort('nodeDisplay')">组件名称</th>
        <th base="1" ng-click="fnSort('subFlowName')">组件过程</th>
        <th base="1" ng-click="fnSort('op')">操作类型</th>
        <th base="1" ng-click="fnSort('startTime')">开始日期</th>
        <th base="1" ng-click="fnSort('endTime')">结束日期</th>
        <th base="1" ng-click="fnSort('period')">操作时长(s)</th>
        <th>操作结果</th>
      </tr>
    </thead>
  <tbody>
          <tr ng-if="!listoff">
            <td colspan="10"> 
                <p class="noresult"><em class="icon-info"></em>{{warninginfo}}</p>
            </td>
          </tr>
            <tr ng-repeat="item in resultData.data">
               <td>{{($index+1)}}</td>
               <td class="text_overflow" title="{{item.blueInstanceName}}">{{item.blueInstanceName}}</td>
               <td class="text_overflow" titlt="{{item.flowName}}">{{item.flowName}}</td> 
               <td class="text_overflow"  title="{{item.nodeDisplay}}" ng-bind="item.nodeDisplay||'无'"></td>
               <td class="text_overflow"  title="{{item.subFlowName}}" ng-bind="item.subFlowName||'无'"></td>
               <td class="text_overflow" ng-bind="(doList|filter:item.op)[0].text||'无'"></td>
               <td class="text_overflow"  title="{{item.startTime}}" ng-bind="item.startTime||'无'"></td>
               <td class="text_overflow"  title="{{item.endTime}}" ng-bind="item.endTime||'无'"></td>
               <td class="text_overflow"  title="{{item.period}}" ng-bind="item.period||'1'"></td>
               <td class="text_overflow" ng-bind="resultText(item.result)||'无'"></td>
             </tr>
     </tbody>
    <tr ng-show="listoff">
         <td colspan="10">
            <page page-count="pageCount" page-num="pageNum" on-page-change="onPageChange()"></page>
         </td>
      </tr>
</table> 
</div>


