<div class="row clearfix cont-header">
   <div class="col-sm-6">
        <a ui-sref="app.blueprint_add" class="btn-cd-icon"><span class="cd-ic_adduser">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                </span> 新建蓝图</a>
        <a class="btn-cd-icon" ng-click="exportBlueprint()"><span class="cd-ic_derive">
                <span class="path1"></span><span class="path2"></span>
                </span> 导出蓝图</a>
        <a class="btn-cd-icon" ng-click="importBlueprint()"><span class="cd-ic_lead">
                <span class="path1"></span><span class="path2"></span>
                </span> 导入蓝图</a>
   </div>
   <div class="col-sm-6">

      <div class="search-group">
      <div class="input-group"> 
         <div class="input-group-btn"> 
             <select class="form-control" ng-model="searchType" ng-options="item.value as item.text for item in searchTypeList">
                
             </select>
         </div>
         <input type="text" ng-keyup="search()" ng-model="searchval" class="form-control" />
         <em class="icon-magnifier"></em>
      </div>
      </div>
   </div>
</div>
<!-- cj add -->
<div id="myThumbDiagramDiv" style="width: 100%;height: 500px;" ng-hide="true"></div>
<div class="cont-body">
  <table class="table table_title table-striped cd-table new_Tables mt20">
    <thead>
      <tr sort>
         <th base="1" ng-click="fnSort('NAME')">蓝图模版名称</th>
         <th base="1" ng-click="fnSort('DESC')">描述</th>
         <th base="1" ng-click="fnSort('CREATE_TIME')">创建时间</th>
         <th base="1" ng-click="fnSort('UPDATE_TIME')">更新时间</th>
         <th>操作</th> 
      </tr>
    </thead>
    <tbody>
       <tr ng-if="!listoff">
           <td colspan="5">
             <p class="noresult"><em class="icon-info"></em> {{warninginfo}}</p>
           </td>
        </tr>
        <tr ng-repeat="item in blueprintList" ng-init="listIndex=$index">
          <td class="text_overflow" title="{{item.NAME}}">{{item.NAME}}</td>
          <td class="text_overflow" title="{{item.DESC||'无'}}">{{item.DESC||'无'}}</td>
          <td class="text_overflow" title="{{item.CREATE_TIME}}">{{item.CREATE_TIME}}</td>
          <td class="text_overflow" title="{{item.UPDATE_TIME}}">{{item.UPDATE_TIME}}</td>
          <td>
              <div dropdown="dropdown" class="btn-group">
                  <button dropdown-toggle="" class="btn btn-cd-default">操作 <em class="fa fa-caret-down"></em>
                 </button>
                <ul role="menu" class="dropdown-menu btnlist-dropdown-menu" ng-class="{'dropdown-last':listIndex>4}">
                    <li>
                        <a ng-click="setCookie(item.NAME)" ui-sref="app.blueprint_ins_add({templateName:item.NAME,blueprintId:item.ID})"><em class="fa fa-plus"></em> 创建蓝图实例</a>
                    </li>
                    <li>
                        <a ng-click="setCookie(item.NAME)" ui-sref="app.blueprint_view({templateName:item.NAME})"><em class="fa fa-search"></em> 查看</a>
                    </li>
                    <li>
                        <a ng-click="setCookie(item.NAME)" ui-sref="app.blueprint_edit({templateName:item.NAME})" ><em class="fa fa-edit"></em> 修改</a>   
                    </li>
                    <li class="second-dropdown" ng-mouseover="showsecond=true" ng-mouseout="showsecond=false">
                        <a href="javascript:;" ng-class="{'second-active':showsecond}">
                            <em class="fa fa-code-fork"></em> 过程<i class="fa fa-angle-left"></i>
                        </a>
                        <ul class="dropdown-menu btnlist-dropdown-menu" ng-show="showsecond">
                            <li>
                                <a ng-click="setCookie(item.NAME)" ui-sref="app.blueprint_flow_create({blueprintId:item.ID,templateName:item.NAME})" ><em class="fa fa-plus"></em> 添加过程</a>  
                            </li>
                            <li>
                               <a ng-click="setCookie(item.NAME)" ui-sref="app.blueprint_flow_manage({blueprintId:item.ID,templateName:item.NAME})" ><em class="fa fa-search"></em> 查看过程</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                       <a href="javascript:;" ng-if="sys=='COP'" ng-click="printBlueprint(item.ID,item.NAME,$index)"><em class="fa fa-send"></em> 发布</a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="delBlueprint(item.ID,$index)"><em class="fa fa-trash"></em> 删除</a> 
                    </li>
                </ul>
            </div>
          </td>
          </tr>
          <tr ng-show="listoff">
                <td colspan="5"> 
                   <page page-count="pageCount" page-num="pageNum" on-page-change="onPageChange()"></page>
                </td>
          </tr>
    </tbody>
</table>
</div>
 