<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>添加班车</title>
</head>
<body>
    <div class="breadcont clearfix">
	   <ol class="breadcrumb pull-left">
	      <li><a ui-sref="app.bus_manage">班车列表</a>
	      </li>
	      <li class="active">
	      	 添加班车
	      </li>
	   </ol>
	</div>
    <form class="form-horizontal" name="form">
	<div class="cont-body">
	    <form name="formValidate" novalidate="" class="form-validate form-horizontal">
		<div class="panel">
 
        </div>
        </form>
	</div>
	</form>
</body>
</html>