<div class="clearfix cont-header" style="padding:0;">
   <div class="col-sm-6">
       <a class="btn-cd-icon" ng-click="openCreateLimit()"><span class="cd-ic_adduser">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                </span> 新建菜单</a>
   </div>
</div>

<table class="table table_title table-striped cd-table mt20">
	  <tr sort>
	  	<th base="1" ng-click="fnSort('text')">菜单名</th>
		<th base="1" ng-click="fnSort('sref')">菜单描述</th>
		<th base="1" ng-click="fnSort('pText')">父级菜单</th>
		<th base="1" ng-click="fnSort('type')">类型</th>
		<th>操作</th>
	  </tr>
	  <tr ng-repeat="menu in menuList">
	  	<td class="text_overflow" title="{{menu.text}}">{{menu.text}}</td>
	  	<td class="text_overflow" title="{{menu.sref}}">{{menu.sref}}</td>
	  	<td class="text_overflow" title="{{menu.pText}}">{{menu.pText}}</td>
	  	<td class="text_overflow" title="{{menu.type}}">{{menu.type}}</td>
	  	<td> 
	  	    <a class="btn btn-cd-default btn-cd-default" ng-click="openEditLimit(menu)"><em class="fa fa-edit"></em> 修改</a> 
	  		<button class="btn btn-cd-default btn-cd-default-del" ng-click="delLimit($index,menu.id,menu.parent_id)"><em class="fa fa-trash"></em> 删除</button>
	  		
	  	</td>
	  </tr>
	</table>