<div class="dialog-header">
    <h4>组件详情</h4>
</div>
<div class="dialog-body">
   <div class="form-horizontal">  
      <form name="editLimitForm">
      	 <div class="form-group">
	         <label class="col-lg-2 control-label text-right">组件包地址</label>
	         <div class="col-lg-9">
	              <label class="control-label text-left">{{ngDialogData.ftpLocation}}</label>
	         </div>
	     </div>
	     <div class="form-group">
	         <label class="col-lg-2 control-label text-right">工件包地址</label>
	         <div class="col-lg-9">
	             <label class="control-label text-left">{{ngDialogData.url}}</label>
	         </div>
	     </div>
      </form>
   </div>
</div>