<div class="dialog-header">
    <h4>更新用户信息</h4>
</div>
<div class="dialog-body">
   <div class="form-horizontal form-control-padding">  
      <form name="updateUserForm">
      	 <div class="form-group">
	         <label class="col-lg-3 control-label text-right">用户名：</label>
	         <div class="col-lg-8 control-formele">
	            <input type="text" ng-focus="authMsg=''" ng-model="userName" class="form-control" required="" ng-pattern="/^[a-zA-Z0-9_-]{4,16}$/" name="name" autocomplete="off" />
	            <div><small>名字可以包含字母，数字，_，-，4-16个字符</small></div>
	            <span ng-show="validateInput(updateUserForm,'name','required')" class="text-danger">请输入用户名！</span> 
	            <span ng-show="validateInput(updateUserForm,'name','pattern')" class="text-danger">用户名不符合规则！</span> 
	         </div>
	       </div>

         <div class="form-group">
           <label class="col-lg-3 control-label text-right">密码：</label>
           <div class="col-lg-8 control-formele">
              <input type="password" ng-focus="authMsg=''" ng-model="password" class="form-control" required="" ng-pattern="/^[a-zA-Z0-9]{6,10}$/" name="password" autocomplete="off" />
              <div><small>6-10位的数字或字母</small></div>
              <span ng-show="validateInput(updateUserForm,'password','required')" class="text-danger">请输入密码！</span>
              <span ng-show="validateInput(updateUserForm,'password','pattern')" class="text-danger">密码不符合规则！</span>
           </div>
         </div>
      </form>
   </div>
</div>
<div class="dialog-footer">
   <a class="btn btn-default btn-close" ng-click="closeThisDialog(0)"><em class="fa fa-close"></em> 取 消</a>
   <button type="submit" class="btn" ng-disabled="!updateUserForm.$valid" ng-class="{'btn-primary':updateUserForm.$valid,'btn-default':!updateUserForm.$valid}" ng-click="updateUserFn()"><em class="fa fa-check"></em> 提 交</button>
</div>