<div class="dialog-header">
 <h4>环境配置</h4>
</div>
<div class="dialog-body">
 <form name="form" class="form-horizontal"> 
 	  <div class="form-group">
         <label class="col-lg-2 control-label text-right"><span class="text-danger">*</span> 环境</label>
         <div class="col-lg-9"> 
             <select class="form-control" ng-model="cluster" ng-options="clusterItem as clusterItem.name for clusterItem in clusterList"></select>

         </div>
         <!-- <div class="col-lg-4">
             <button class="btn btn-cd-default">新增</button>
             <button class="btn btn-cd-default">更新</button>
         </div> -->
    </div>
    <div class="form-group">
       <label class="col-lg-2 control-label text-right"><span class="text-danger">*</span> 节点</label>
       <div class="col-lg-9" style="max-height:300px;overflow:auto;">
            <table class="table table_title">
              <thead>
                  <tr>
                      <th check-all="check-all" checkapp-id="checkappId">
                          <div data-toggle="tooltip" data-title="Check All" class="checkbox c-checkbox">
                              <label>
                                 <input type="checkbox" />
                                 <span class="fa fa-check"></span>
                              </label>
                          </div>
                      </th>
                      <th>名称</th>
                      <th>IP</th>
                      <th>描述</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="nodeItem in nodeList">   
                      <td>
                          <div class="checkbox c-checkbox">
                             <label> 
                                <input type="checkbox" save-id="{{nodeItem.id}}_{{nodeItem.name}}_{{nodeItem.ip}}" checkapp-id="checkappId" ng-checked="{{nodeItem.ischecked}}" />
                                <span class="fa fa-check"></span>
                             </label>
                          </div>
                      </td>
                      <td>{{nodeItem.name}}</td>
                      <td>{{nodeItem.ip}}</td>
                      <td>{{nodeItem.description}}</td>
                  </tr>
              </tbody>
          </table>
       </div>
      </div>
 </form>
</div>
<div class="dialog-footer">
   <a class="btn btn-default btn-close" ng-click="closeFn(closeThisDialog)"><em class="fa fa-close"></em> 取 消</a>
   <button class="btn btn-primary" ng-click="saveEnvConfigFn(closeThisDialog)"><em class="fa fa-check"></em> 确定</button>
</div>
 
