<div class="dialog-header">
    <h4>快照回滚</h4>
</div>
<div class="dialog-body">
   <div class="form-horizontal">  
      <form name="editResourceMapForm">
         <div class="form-group">
             <label class="col-lg-3 control-label text-right">选择过程：</label>
             <div class="col-lg-8 form-control-static">
                 <select class="form-control" ng-model="flow" ng-options="item as item.FLOW_NAME for item in flowList"></select> 
             </div>
         </div>
      </form>
   </div>
</div>
<div class="dialog-footer">
    <button class="btn btn-default btn-close" ng-click="closeThisDialog(0)"><em class="fa fa-close"></em> 取 消</button>
    <button class="btn btn-primary" ng-click="rollBackFn();"><em class="fa fa-check"></em> 提 交</button> 
</div>
 