<div class="dialog-header">
    <h4>更新组件状态</h4>
</div>
<div class="dialog-body">
   <div class="form-horizontal">  
      <form name="updateComponentForm" novalidate="" class="form-validate form-horizontal">
      		<fieldset>
	           <div class="form-group">
	              <label class="col-sm-4 control-label">组件当前状态：</label>
	              <div class="col-sm-8"> 
	              
	                  <div class="form-control-static" ng-bind="(statuses|filter:currentStatus)[0].key||'无'"></div>
	              </div>
	           </div>
	        </fieldset>
	       
	        <fieldset>
	           <div class="form-group">
	              <label class="col-sm-4 control-label"><span class="text-danger">*</span>组件可选状态：</label>
	              <div class="col-sm-6"> 
	                 <select class="form-control"  required='' ng-model="selectedStatus" ng-options='x.key for x in statuses | filter: {value: "!00"}' />
	              </div>
	           </div>
	        </fieldset>
	         <fieldset>
	           <div class="form-group">
	              <label class="col-sm-4 control-label">描述：</label>
	              <div class="col-sm-6"> 
                     <input type="text" placeholder="添加描述" ng-model="description" class="form-control">
                  </div>
	           </div>
	        </fieldset>
      </form>
   </div>
</div>
<div class="dialog-footer">
   <a href="" class="btn btn-default btn-close" ng-click="closeThisDialog(0)"><em class="fa fa-close"></em> 取 消</a> 
   <button class="btn" ng-disabled="!updateComponentForm.$valid" ng-class="{'btn-primary':updateComponentForm.$valid,'btn-default':!updateComponentForm.$valid}" ng-click="saveFn()"><em class="fa fa-check"></em> 提 交</button>
</div>
 
