<div class="dialog-header">
    <h4>子过程</h4>
</div>
<div class="dialog-body">
	<div class="form-horizontal"> 
	    <form>
	       <div class="form-group">
	       		<label class="col-sm-2 control-label text-right">操作过程：</label>
	            <div class="col-sm-4">
	                <select class="form-control" ng-model="formData.do" ng-options="doItem as doItem.doChineseName for doItem in doList"></select>
	            </div>
	            <div class="col-sm-4">
	                <select class="form-control" ng-model="formData.flow" ng-options="flowItem as flowItem.flowName for flowItem in formData.do.doCont"></select>
	            </div>
	       </div>
	       <div class="form-group">
	            <label class="col-sm-2 control-label text-right">版本：</label>
	            <div class="col-sm-8">
	                 <select class="form-control" ng-model="formData.versionType" ng-options="item.value as item.text for item in versionType"></select>
	            </div>
	       </div>
	       
	       <div class="form-group">
	       		<label class="col-sm-2 control-label text-right">父子传递：</label>
	            <div class="col-sm-8 form-inline"> 
	                <select style="width:48%;" class="form-control" ng-model="formData.inchildvar" ng-options="varItem for varItem in childvarArr"></select>
	                =
	                <select style="width:48%;" class="form-control" ng-model="formData.infvar" ng-options="varItem.key as varItem.key for varItem in fvarArr"></select>
	            </div> 
	       </div>
	       
	       <div class="form-group">
	       		<label class="col-sm-2 control-label text-right">子父传递：</label>
	            <div class="col-sm-8 form-inline">
	                <select style="width:48%;" class="form-control" ng-model="formData.outfvar" ng-options="varItem.key as varItem.key for varItem in fvarArr"></select>
	                =
	                <select style="width:48%;" class="form-control" ng-model="formData.outchildvar" ng-options="varItem for varItem in childvarArr"></select>
	            </div>
	       </div>
	    	
	    </form>
	</div>
</div>
<div class="dialog-footer">
	<a class="btn btn-default btn-close" ng-click="closeThisDialog(0)"><em class="fa fa-close"></em> 取 消</a>
    <button type="submit" class="btn btn-primary" ng-click="saveSubprocess()"><em class="fa fa-check"></em> 提 交</button>
</div>