<div class="dialog-header">
    <h4>更新标签</h4>
</div>
<div class="dialog-body">
   <div class="form-horizontal">  
      <form name="updateLabelForm" novalidate="" class="form-validate form-horizontal">
           <div class="form-group">
              <label class="col-sm-3 control-label ">标签名：</label>
              <div class="col-sm-9"> 
                 <input type="text" name="name" ng-model="name" ng-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9_-]{1,16}$/" class="form-control" required=""/>
				 <div><small>名字可以包含字母，数字，中文，_，-，1-16个字符</small></div>
				 <span ng-show="validateInput(updateLabelForm,'name','required')" class="text-danger">请输入用标签名！</span>
				 <span ng-show="validateInput(updateLabelForm,'name','pattern')" class="text-danger">标签名不符合规则！</span>
              </div>
           </div>
           <div class="form-group">
              <label class="col-sm-3 control-label">标签描述：</label>
              <div class="col-sm-9"> 
                 <textarea name="description" ng-model="description" class="form-control"/>
              </div>
           </div>
      </form>
   </div>
</div>
<div class="dialog-footer">
   <a href="" class="btn btn-default btn-close" ng-click="closeThisDialog(0)"><em class="fa fa-close"></em> 取 消</a> 
   <button class="btn" ng-disabled="!updateLabelForm.$valid" ng-class="{'btn-primary':updateLabelForm.$valid,'btn-default':!updateLabelForm.$valid}" ng-click="saveFn()"><em class="fa fa-check"></em> 提 交</button>
</div>