<div class="dialog-header">
    <h4>搜索工件</h4>
</div>
<div class="dialog-body">
   <div class="form-horizontal"> 
        <div class="search clearfix">
           <input type="text" ng-keyup="workpiecePackageSearch()" class="form-control" placeholder="按工件包名搜索" ng-model="workpiecePackageSearchval" />
           <em class="icon-magnifier"></em>
        </div> 
        <table class="table table-bordered mt20" style="table-layout:fixed">
		   <thead>
		      <tr>
				 <th colspan="1">单选</th>
		         <th colspan="11">工件名称</th>
		      </tr>
		   </thead>
		   <tbody>
		      <tr ng-if="!searchListoff">
		         <td colspan="12">
		           <p class="noresult"><em class="icon-info"></em> {{searchWarninginfo}}</p>
		         </td>
		      </tr>
		      <tr ng-repeat="item in searchWorkpiecePackageList track by $index">
		         <td colspan="1">
					<input type="radio" name="workpiecePackage" ng-model="item.ischecked" ng-checked="workpiecePackageCheck(item)" ng-click="workpiecePackageClick(item,$event)" />
		         </td>
		         <td colspan="11" class="text_overflow" title="{{item.resourceName}}">{{item.resourceName}}</td>
		      </tr>
		      <tr ng-show="searchListoff">
		         <td colspan="12">
		            <page page-count="searchPageCount" page-num="searchPageNum" on-page-change="onSearchPageChange(searchPageNum)"></page>  
		         </td>
		      </tr>
		   </tbody>
		</table>
   </div>
</div>
<div class="dialog-footer">
   <a class="btn btn-default btn-close" ng-click="closeThisDialog(0)"><em class="fa fa-close"></em> 取 消</a>
   <button class="btn btn-primary" ng-disabled="workpiecePackageName.length==0" ng-click="confirmWorkpiecePackage()"><em class="fa fa-check"></em> 提 交</button>
</div>
 
