<nav role="navigation" class="navbar topnavbar">
    <div class="nav-wrapper">
        <!-- <ul class="nav navbar-nav">
           <li>
              <h3 style="margin:15px 0 0 0;">{{currTitle}}</h3>
           </li>
        </ul> -->
        <div class="logo">
            <h1 class="text-center">
                <!--<a href="">-->
                    <div class="brand-logo">
                        <img width="100" height="18" ng-src="{{app.logosrc_big}}" ng-attr-alt="{{app.name}}" class="img-responsive" />
                        <span class="ng-binding">{{app.name}}</span>
                    </div>
                    <div class="brand-logo-collapsed">
                        <img width="40" height="22" ng-src="{{app.logosrc_small}}" ng-attr-alt="{{app.name}}" class="img-responsive" />
                    </div>
                <!--</a>-->
            </h1>

            <a href="#" class="isCollapsed" trigger-resize="" ng-click="setCollapsed()" class="hidden-xs" style="text-decoration: none" >
                <em ng-class="{true:'icon_indent-indent-increase',false:'icon_indent-indent-decrease'}[$root.isCollapsed]"></em>
            </a>
        </div>



        <ul class="nav navbar-nav navbar-right">

            <li dropdown="" class="dropdown dropdown-list">
                <a dropdown-toggle="" ng-click="app.layout.isDropdown=!app.layout.isDropdown">
                    <em class="cd-user-ic_personal"></em> {{user.name}}
                    <em class="fa"  ng-class="{'fa-caret-down':app.layout.isDropdown,'fa-caret-up':!app.layout.isDropdown}"></em> 
                </a>

                <!-- START Dropdown menu-->
                <ul class="dropdown-menu animated flipInX">
                    <li>
                        <a ng-if="user.result" href="UserGuide/UserGuide.html" target="_blank">
                            <em class="cd-user-ic_userhelp"></em> 用户手册
                        </a>  
                        <a ng-if="!user.result" href="UserGuide-2/UserGuide.html" target="_blank">
                            <em class="cd-user-ic_userhelp"></em> 用户手册
                        </a>
                    </li>
                    <li>
                        <a href="javaScript:void(0)" target="_blank" ng-click="guideFn()">
                            <em class="fa fa-retweet"></em> 新手引导
                        </a>
                    </li>
                    <li>
                        <a href="download.html" target="_blank">
                            <em class="fa fa-download"></em> 软件下载
                        </a>
                    </li>
                    <li class="second-dropdown" ng-mouseover="showStyle=true" ng-mouseout="showStyle=false">
                        <a href="#">
                            <em class="cd-user-ic_skins"></em> 改变风格
                        </a>
                        <ul class="second-dropdown-menu" ng-show="showStyle">
                            <li>
                                <a href="" ng-click="changeStyle('blue')" class="blue"><em class="cd-user-ic_skins"></em> 清新蓝</a>
                            </li>
                            <li>
                                <a href="" ng-click="changeStyle('purple')" class="purple"><em class="cd-user-ic_skins"></em> 深沉紫</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" ng-click="about()">
                            <em class="cd-ic_hint2"></em>
                            <span>关于</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-click="loginout()">
                            <em class="cd-user-ic_logout"></em>
                            <span>注销</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- <li style="padding:0 20px">
                <a href="download.html">
                  <em class="fa fa-download"></em>
               </a>
            </li> -->
            <li class="userHistory-li" ng-mouseover="app.layout.userHistoryBol=true" ng-mouseout="app.layout.userHistoryBol=false">
                <a href="#" style="padding:16px 20px 14px;">
                  <em class="icon-clock"></em>
               </a>
               <div class="offsidebar" ng-controller="offsidebar">
                   <div class="userHistory">
                         <div class="history-head clearfix">
                             <h3 class="pull-left">最近操作</h3>
                             <a ui-sref="app.operational" ng-click="app.layout.userHistoryBol=false" class="pull-left" href="">查看全部</a>
                         </div>
                         
                         <ul class="timeline-alt">
                            <li ng-repeat="item in historyData">
                               <div class="timeline-badge primary">
                                  <em class="fa fa-file-text-o"></em>
                               </div>
                               <div class="timeline-panel">
                                  <div class="popover right">
                                     <h4 class="popover-title">{{item.resourceType}}{{(operateTypeList_all|filter:item.operateType)[0].text}}</h4>
                                     <div class="arrow"></div>
                                     <div class="popover-content">
                                        <small class="text-default">{{item.operateTime}}</small><br>
                                        <small ng-if="item.detail">{{item.detail}}</small><br ng-if="item.detail">
                                        <small ng-if="item.operateResult">状态：<span class="{{item.operateResult=='1'?'text-success':'text-red'}}">{{item.operateResult=='1'?'成功':'失败'}}</span></small>
                                     </div>
                                  </div>
                               </div>
                            </li>
                         </ul>
                        
                    </div>
               </div>
            </li>
        </ul>
    </div>
</nav>
